header {
  margin: 3rem auto;
  text-align: center;
}

img {
  width: 8rem;
}

h1 {
  margin: 1rem auto;
  background: -webkit-linear-gradient(45deg, #f9096d, #b700ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3rem;
}

main {
  width: 90%;
  max-width: 50rem;
  margin: 2.5rem auto;
  display: grid;
  grid-auto-flow: row;
  gap: 2rem;
}

#users {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5rem;
  overflow: hidden;
}
